*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.custom-navbar {
    background-color: #ffffff; /* White background for modern look */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.custom-navbar .navbar-brand {
    color: #1abc9c !important;
}

.custom-navbar .nav-link {
    color: #1abc9c !important;
    margin-right: 15px;
    transition: color 0.3s;
}

.custom-navbar .nav-link:hover {
    color: #148f77 !important;
}

.custom-navbar .btn-outline-info {
    border-color: #1abc9c;
    color: #1abc9c;
    transition: all 0.3s ease;
}

.custom-navbar .btn-outline-info:hover {
    background-color: #1abc9c;
    color: white;
}

#home{
    width: 100vw;
    height: auto;
    background-image: url('assert/image/home-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    text-align: center;
}

#home a{
    color: white;
    background-color: #1abc9c;
    border-radius: 25px;
    transition-duration: 0.4s;
}

#home a:hover{
    transform: scale(1.1);
    background-color: #1abc9c;
}

#home h4{
    font-size: 50px;
    font-family: "My Soul", cursive;
    font-weight: 400;
    font-style: normal;
}